body {
  margin: 0;
  font-weight: 100;
  font-family: "Inter", "Open Sans", Helvetica, Arial, sans-serif;;
}

.forinput{
  align-content: center;
  text-align:center;
  width:auto;
}
.div{
  align-items: center;
  text-align: center;
  float: left;
}